.nav-wrapper {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
}

.nav-hidden {
    position: absolute;
    top: 0;
    left: 3.6em;
    display: block;
    width: 43em;
    height: 100%;
    background: url('../img/bg_fx_menu.png') no-repeat;
}

.nav-hidden__holder {
    position: absolute;
    top: 15em;
    left: 17.3em;
}

.nav-hidden-title {
    font-family: 'Roboto-Bold';
    font-size: 2.2em;
    display: block;
    margin-bottom: 80px;
    padding-left: 15px;
    color: color('primary');
}

.nav-hidden-list__item {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.nav-hidden-list__item span {
    font-family: 'Roboto-Bold';
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    color: color('gray');
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.nav-hidden-list__item span:hover {
    font-family: 'Roboto-Bold';
    color: #000;
    background: color('active');
    -webkit-box-shadow: 2px 4px 16px -3px #000;
    -moz-box-shadow: 2px 4px 16px -3px #000;
    box-shadow: 2px 4px 16px -3px #000;
}

.nav-hidden-list__item span:focus {
    font-family: 'Roboto-Bold';
    color: #000;
    outline: none;
    background: color('active');
    -webkit-box-shadow: 2px 4px 16px -3px #000;
    -moz-box-shadow: 2px 4px 16px -3px #000;
    box-shadow: 2px 4px 16px -3px #000;
}

.nav-hidden-list__item.active span {
    font-family: 'Roboto-Bold';
    font-family: 'Roboto-Bold';
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    color: color('gray');
    color: #000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: color('active');
    -webkit-box-shadow: 2px 4px 16px -3px #000;
    -moz-box-shadow: 2px 4px 16px -3px #000;
    box-shadow: 2px 4px 16px -3px #000;
}

.nav-hidden-list__item:focus {
    outline: none;
}

.nav {
    display: inline-block;
    overflow: hidden;
    width: 148px;
    height: 100%;
    background: url('../img/bg_fx_innerpage.png') no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}

@media screen and (min-width: 3840px) {
    .nav {
        width: 290px;
    }
}

@media screen and (max-width: 1366px) {
    .nav {
        width: 105px;
    }
}

.nav-arrow {
    position: absolute;
    z-index: 101;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #242c33;
    -webkit-box-shadow: 2px 4px 16px -3px #000;
    -moz-box-shadow: 2px 4px 16px -3px #000;
    box-shadow: 2px 4px 16px -3px #000;
}

@media screen and (min-width: 1920px) {
    .nav-arrow {
        width: 60px;
        height: 60px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }
}

@media screen and (min-width: 3840px) {
    .nav-arrow {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
    }
}

.nav-arrow:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 2px #ff0;
    -moz-box-shadow: 0 0 0 2px #ff0;
    box-shadow: 0 0 0 2px #ff0;
}

.nav-arrow::before {
    position: absolute;
    top: 20px;
    left: 17px;
    width: 11px;
    height: 2px;
    content: '';
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
}

@media screen and (min-width: 1920px) {
    .nav-arrow::before {
        top: 25px;
        left: 22px;
    }
}

@media screen and (min-width: 3840px) {
    .nav-arrow::before {
        top: 40px;
        left: 32px;
        width: 32px;
        height: 3px;
    }
}

.nav-arrow::after {
    position: absolute;
    top: 27px;
    left: 17px;
    width: 11px;
    height: 2px;
    content: '';
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
}

@media screen and (min-width: 1920px) {
    .nav-arrow::after {
        top: 32px;
        left: 22px;
    }
}

@media screen and (min-width: 3840px) {
    .nav-arrow::after {
        top: 61px;
        left: 32px;
        width: 32px;
        height: 3px;
    }
}
/*# sourceMappingURL=../../sourcemaps/assets/base-assets/nav.css.map */
